[Desktop Entry]
Name=Waypoint
Comment=Create and manage system snapshots
Exec=waypoint
Icon=com.voidlinux.waypoint
Terminal=false
Type=Application
Categories=System;GTK;
Keywords=snapshot;backup;restore;btrfs;rollback;
StartupNotify=true
