[Desktop Entry]
Name=Waypoint
GenericName=System Snapshot Manager
Comment=Create and manage Btrfs system snapshots
Exec=waypoint
Icon=waypoint
Terminal=false
Type=Application
Categories=System;GTK;
Keywords=snapshot;btrfs;backup;restore;
StartupNotify=true
